.group-create{
  height: calc(100vh - 260px);
  text-align: center;
  position: relative;

  &::after{
    content:'';
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__wrapper{
    width: 80%;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    &__title{
      font-family: 'Dosis', sans-serif;
      font-size: 40px;
      padding: 30px 0;
      border-bottom: 2px solid black;
    }
    &__form{
      padding: 20px 0 20px;
      width: 42%;
      margin: 0 auto;
      &--name{
        padding-bottom: 10px;
        &--label{}
        &--input{
          padding: 20px 0 20px;
        }
      }
      &--member{}
      &--submit{}
    }
  }
}

.newgroup-name{
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

.label-group{
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
}

.member-name{
  margin-right: 10px;
}