.show-wrapper{
  width: 100vw;
  // background: url(wall-white.jpg);

  &__container{
    width: 60%;
    margin: 40px auto 20px;
    background-color: white;
    // background-color: rgba($color: white, $alpha: 0.4);

    &__title{
      width: 80%;
      margin: 0 auto;
      &--name{
        font-weight: bold;
        font-size: 30px;
        color: $black;
      }
      &--user{
        color: $black;
        bottom: 0;
        text-align: right;
      }
    }
    &__lists{
      width: 80%;
      margin: 10px auto 0;

      &--image{
        margin-top: 20px;
      }

      &--text{
        margin-top: 20px;
        font-size: 14px;
      }
    }
    &__btn{
      width: 80%;
      margin: 20px auto 0;
      display: flex;
      justify-content: space-between;
      &__edit{

        text-align: center;  
      }
      &_delete{

        text-align: center; 
      }
    }
  }
}

.show-image{
  width: 100%;

}

.btn-edit{
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.btn-edit:hover{
  opacity: 0.8;
}