.show-wrapper{
  width: 100vw;
  background: url(wall-white.jpg);

  &__container{
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba($color: white, $alpha: 0.4);

    &__title{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &--name{
        font-weight: bold;
        font-size: 30px;
        width: 50%;
      }
      &--user{
        bottom: 0;
        text-align: right;
        
      }
    }
    &__lists{
      width: 80%;
      margin: 20px auto 0;

      &--image{
        margin-top: 30px;
      }

      &--text{
        margin-top: 20px;
        font-size: 14px;
      }
    }
    &__edit{
      text-align: center;
      
    }
  }
}

.show-image{
  width: 100%;

}