.signin-wrapper{
  background-image: url(top-header.jpg);
  background-size: cover;

  min-height: calc(100vh - 250px);
  width: 100vw;
  position: absolute;
  opacity: 0.4;
  display: block;

  &__form{
    height: 100%;
    position: relative;
    text-align: center;
    padding: 60px 0px 108px;

    &__box{
      margin: 0 auto;

      &--button{
        text-align: center;
        margin: 0 auto;

      }
    }
  }
}

.label-signin{
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
}

.signin-form{
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px;
}

.signin-button{

  background: gray;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;

}