@import url('https://fonts.googleapis.com/css?family=Dosis:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap');
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'color/script';
@import 'posts';
@import 'signin';
@import 'signup';
@import 'new';
@import 'show';
@import 'user-show';
@import 'categories';
@import 'header-mini';
@import 'group';
@import 'group-show';
@import 'user-edit';
@import 'group-new';
@import 'category-new';
@import 'like';
@import 'follow';
@import 'user-index';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

a{
  display: block;
  text-decoration: none;
  color: black;
}