-# .all
-#   = render "shared/header-mini"

-#   .category-index
-#     .category-index__wrapper
-#       .category-index__wrapper__content
-#         - @category.each do |category|
-#           .category-index__wrapper__content--name
-#             = link_to "#{category.name}", category_path(category.id),class: 'category-list'