.all
  = render "shared/header"

  .category-index
    .category-index__wrapper
      .category-index__wrapper__content
        - @category.each do |category|
          = link_to category_path(category.id),class: 'category-list' do
            .category-index__wrapper__content--name
              = category.name
